<?xml version='1.0' encoding='utf-8'?>
<widget id="example.tiya.tabris" version="0.1.0">
  <name>Tiya</name>
  <description>
    Tiya's Tabris.js App
  </description>
  <author email="735284268@qq.com">
    youjingyu
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
